<?xml version="1.0" encoding="UTF-8"?>
<!-- File written by PDE 1.0 -->
<plugin
   id="org.eclipse.jdt.debug.ui"
   name="%pluginName"
   version="2.0.0"
   provider-name="%providerName"
   class="org.eclipse.jdt.internal.debug.ui.JDIDebugUIPlugin">
<!-- Required plugins -->
<requires>
  <import plugin="org.eclipse.ui"/>
  <import plugin="org.eclipse.core.resources"/>
  <import plugin="org.eclipse.jdt.core"/>
  <import plugin="org.apache.xerces"/>
  <import plugin="org.eclipse.search"/>
  <import plugin="org.eclipse.debug.core"/>
  <import plugin="org.eclipse.debug.ui"/> 
  <import plugin="org.eclipse.jdt.debug"/>
  <import plugin="org.eclipse.jdt.launching"/>
  <import plugin="org.eclipse.compare"/>
  <import plugin="org.eclipse.jdt.ui"/>
</requires>

<!-- Runtime -->
<runtime>
   <library name="jdiui.jar">
      <export name="*"/>
   </library>
</runtime>

<!-- Extensions Points -->
<extension-point name="%vmInstallTypePage" id="vmInstallTypePage"/>

<!-- Extensions -->
- <extension point="org.eclipse.jdt.ui.javaEditorTextHovers">
  <hover id="org.eclipse.jdt.internal.debug.ui.JavaDebugHover" 
  	class="org.eclipse.jdt.internal.debug.ui.JavaDebugHover" /> 
  </extension>
<extension
    point= "org.eclipse.ui.editors"
    id= "org.eclipse.jdt.debug.ui.editors">
   <editor
      id="org.eclipse.jdt.debug.ui.SnippetEditor"
      icon="icons/full/obj16/jsbook_obj.gif"
      name="%JavaSnippetEditor.label"
      extensions="jpage"
      class="org.eclipse.jdt.internal.debug.ui.snippeteditor.JavaSnippetEditor"
      contributorClass="org.eclipse.jdt.internal.debug.ui.snippeteditor.SnippetEditorActionContributor">
   </editor>
</extension>

<extension point="org.eclipse.ui.editorActions">
	<editorContribution
		id="org.eclipse.jdt.debug.CompilationUnitEditor.BreakpointRulerActions"
		targetID="org.eclipse.jdt.ui.CompilationUnitEditor">
		<action
			id="org.eclipse.jdt.ui.actions.ManageBreakpointRulerAction"
			actionID="RulerDoubleClick"
			label="%Dummy.label"
			class="org.eclipse.jdt.internal.debug.ui.actions.ManageBreakpointRulerActionDelegate">
		</action>
	</editorContribution>	
	<editorContribution
		id="org.eclipse.jdt.debug.ClassFileEditor.BreakpointRulerActions"
		targetID="org.eclipse.jdt.ui.ClassFileEditor">
		<action
			id="org.eclipse.jdt.ui.actions.ManageBreakpointRulerAction"
			actionID="RulerDoubleClick"
			label="%Dummy.label"
			class="org.eclipse.jdt.internal.debug.ui.actions.ManageBreakpointRulerActionDelegate">
		</action>
	</editorContribution>
</extension>

<extension point="org.eclipse.ui.actionSets">
	<actionSet 
		label="%JDTDebugActionSet.label" 
		visible="false" 
		id="org.eclipse.jdt.debug.ui.JDTDebugActionSet">
	<menu
        label="%RunMenu.label"
        id="org.eclipse.ui.run"
		path="additions">
        <separator name="jdtGroup"/>
        <separator name="breakpointGroup"/>
     </menu>
        <action id="org.eclipse.jdt.debug.ui.ManageWatchpointAction"
  			label="%manageWatchpointAction.label"
  			icon="icons/full/obj16/readwrite_obj.gif"
  			helpContextId="manage_watchpoint_action_context"
  			class="org.eclipse.jdt.internal.debug.ui.actions.ManageWatchpointActionDelegate"
  			menubarPath="org.eclipse.ui.run/breakpointGroup">
  			<enablement> 
             	<pluginState id="org.eclipse.jdt.debug.ui" value="activated"/> 
            </enablement> 
  	    </action>
      	<action id="org.eclipse.jdt.debug.ui.ManageMethodBreakpointAction"
  			label="%manageMethodBreakpointAction.label"
  			icon="icons/full/obj16/brkpi_obj.gif"
  			helpContextId="manage_method_breakpoint_action_context"
  			class="org.eclipse.jdt.internal.debug.ui.actions.ManageMethodBreakpointActionDelegate"
  			menubarPath="org.eclipse.ui.run/breakpointGroup">
  			<enablement> 
             	<pluginState id="org.eclipse.jdt.debug.ui" value="activated"/> 
            </enablement> 
  	    </action>
  	    <action id="org.eclipse.jdt.debug.ui.actionSet.AddException"
			label="%exceptionAction.accel.label"
			icon="icons/full/clcl16/exc_catch.gif"
			helpContextId="add_exception_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.AddExceptionAction"
			menubarPath="org.eclipse.ui.run/breakpointGroup">
			<enablement> 
             	<pluginState id="org.eclipse.jdt.debug.ui" value="activated"/> 
            </enablement> 
		</action>
      	<action id="org.eclipse.jdt.debug.ui.ManageBreakpointAction"
  			label="%ManageBreakpointAction.label"
  			icon="icons/full/obj16/brkpi_obj.gif"
  			helpContextId="manage_breakpoint_action_context"
  			class="org.eclipse.jdt.internal.debug.ui.actions.ManageBreakpointActionDelegate"
  			menubarPath="org.eclipse.ui.run/breakpointGroup">
  			<enablement> 
             	<pluginState id="org.eclipse.jdt.debug.ui" value="activated"/> 
            </enablement> 
  	    </action>
  	  	<action id="org.eclipse.jdt.debug.ui.RunToLineAction"
  			label="%runToLineAction.label"
  			icon="icons/full/elcl16/runtoline_co.gif"
  			disabledIcon="icons/full/dlcl16/runtoline_co.gif"
  			hoverIcon="icons/full/clcl16/runtoline_co.gif"
  			helpContextId="run_to_line_action_context"
  			class="org.eclipse.jdt.internal.debug.ui.actions.RunToLineActionDelegate"
  			menubarPath="org.eclipse.ui.run/jdtGroup">
  			<enablement> 
             	<pluginState id="org.eclipse.jdt.debug.ui" value="activated"/> 
            </enablement> 
  	    </action>
  	    <action id="org.eclipse.jdt.debug.ui.RunSnippet" 
			label="%RunSnippet.label" 
			menubarPath="org.eclipse.ui.run/jdtGroup"
			icon="icons/full/etool16/run_sbook.gif"
			disabledIcon="icons/full/dtool16/run_sbook.gif"
  		 	hoverIcon="icons/full/ctool16/run_sbook.gif"
			helpContextId="run_snippet_action_context"
			class="org.eclipse.jdt.internal.debug.ui.snippeteditor.RunSnippetAction">
			<enablement> 
             	<pluginState id="org.eclipse.jdt.debug.ui" value="activated"/> 
            </enablement> 
		</action>
  		<action id="org.eclipse.jdt.debug.ui.Display" 
			label="%Display.label" 
			menubarPath="org.eclipse.ui.run/jdtGroup"
			icon="icons/full/etool16/disp_sbook.gif"
			disabledIcon="icons/full/dtool16/disp_sbook.gif"
  		 	hoverIcon="icons/full/ctool16/disp_sbook.gif"
			helpContextId="display_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.DisplayAction">
			<enablement> 
             	<pluginState id="org.eclipse.jdt.debug.ui" value="activated"/> 
            </enablement>
		</action>
		<action id="org.eclipse.jdt.debug.ui.Inspect" 
			label="%Inspect.label" 
			menubarPath="org.eclipse.ui.run/jdtGroup"
			icon="icons/full/etool16/insp_sbook.gif"
			disabledIcon="icons/full/dtool16/insp_sbook.gif"
  		 	hoverIcon="icons/full/ctool16/insp_sbook.gif"
			helpContextId="inspect_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.InspectAction">
			<enablement> 
             	<pluginState id="org.eclipse.jdt.debug.ui" value="activated"/> 
            </enablement>
		</action> 
   </actionSet>
</extension>

<extension 
	point="org.eclipse.ui.views">
	<view
		id="org.eclipse.jdt.debug.ui.DisplayView"
		name="%displayViewName"
		category="org.eclipse.debug.ui"
	   	icon="icons/full/ctool16/disp_sbook.gif"
	   	class="org.eclipse.jdt.internal.debug.ui.display.DisplayView">
	</view>
</extension>

<extension point="org.eclipse.ui.perspectiveExtensions">
	<perspectiveExtension 
		targetID="org.eclipse.debug.ui.DebugPerspective">
		<actionSet id="org.eclipse.jdt.debug.ui.JDTDebugActionSet"/>
	</perspectiveExtension>
	<perspectiveExtension 
		targetID="org.eclipse.jdt.ui.JavaPerspective">
		<actionSet id="org.eclipse.jdt.debug.ui.JDTDebugActionSet"/>
	</perspectiveExtension>
	<perspectiveExtension 
		targetID="org.eclipse.jdt.ui.JavaHierarchyPerspective">
		<actionSet id="org.eclipse.jdt.debug.ui.JDTDebugActionSet"/>
	</perspectiveExtension>
	<perspectiveExtension 
		targetID="org.eclipse.jdt.ui.JavaBrowsingPerspective">
		<actionSet id="org.eclipse.jdt.debug.ui.JDTDebugActionSet"/>
	</perspectiveExtension>
    <perspectiveExtension 
    	targetID="org.eclipse.debug.ui.DebugPerspective"> 
    	<view id="org.eclipse.jdt.debug.ui.DisplayView" 
        	relative="org.eclipse.debug.ui.ExpressionView" 
    		relationship="stack"/>	
        <view id="org.eclipse.jdt.ui.PackageExplorer" 
                relative="org.eclipse.debug.ui.DebugView" 
                relationship="stack"
                visible="false"/>
        <view id="org.eclipse.jdt.ui.TypeHierarchy" 
                relative="org.eclipse.debug.ui.DebugView" 
                relationship="stack"
                visible="false"/>
         <view id="org.eclipse.search.SearchResultView" 
                relative="org.eclipse.debug.ui.ConsoleView" 
                relationship="stack"
                visible="false"/> 
    	<viewShortcut id="org.eclipse.jdt.debug.ui.DisplayView"/>
     </perspectiveExtension> 
</extension>

<extension point="org.eclipse.ui.popupMenus">
	<objectContribution
		id="org.eclipse.jdt.debug.WatchpointToggleActions"
		objectClass="org.eclipse.jdt.debug.core.IJavaWatchpoint">
		<action
			id="org.eclipse.jdt.debug.ui.actions.AccessToggle"
			label="%accessAction.label"
			menubarPath="emptyBreakpointGroup"
			state="false"
			helpContextId="access_toggle_action_context" 
			class="org.eclipse.jdt.internal.debug.ui.actions.AccessWatchpointToggleAction"
			enablesFor="+">
		</action>
		<action
			id="org.eclipse.jdt.debug.ui.actions.ModificationToggle"
			label="%modificationAction.label"
			menubarPath="emptyBreakpointGroup"
			state="true"
			helpContextId="modification_toggle_action_context" 
			class="org.eclipse.jdt.internal.debug.ui.actions.ModificationWatchpointToggleAction"
			enablesFor="+">
		</action>
	</objectContribution>
	<objectContribution
		id="org.eclipse.jdt.debug.MethodBreakpointToggleActions"
		objectClass="org.eclipse.jdt.debug.core.IJavaMethodBreakpoint">
		<action
			id="org.eclipse.jdt.debug.ui.actions.EntryToggle"
			label="%entryAction.label"
			menubarPath="emptyBreakpointGroup"
			state="false"
			helpContextId="entry_toggle_action_context" 
			class="org.eclipse.jdt.internal.debug.ui.actions.EntryToggleAction"
			enablesFor="+">
		</action>
		<action
			id="org.eclipse.jdt.debug.ui.actions.ExitToggle"
			label="%exitAction.label"
			menubarPath="emptyBreakpointGroup"
			state="false"
			helpContextId="exit_toggle_action_context" 
			class="org.eclipse.jdt.internal.debug.ui.actions.ExitToggleAction"
			enablesFor="+">
		</action>		
	</objectContribution>
	<objectContribution
		id="org.eclipse.jdt.debug.JavaBreakpointActions"
		objectClass="org.eclipse.jdt.debug.core.IJavaBreakpoint">
		<action
			id="org.eclipse.jdt.ui.actions.BreakpointHitCount"
			label="%hitCount.label"
			icon="icons/full/elcl16/sethitcount_co.gif"
			disabledIcon="icons/full/dlcl16/sethitcount_co.gif"
			hoverIcon="icons/full/clcl16/sethitcount_co.gif"
			menubarPath="emptyBreakpointGroup"
			helpContextId="hit_count_action_context" 
			class="org.eclipse.jdt.internal.debug.ui.actions.BreakpointHitCountAction"
			enablesFor="1">
		</action>
		<action
			id="org.eclipse.jdt.ui.actions.SuspendPolicy"
			label="%suspendPolicy.label"
			icon="../org.eclipse.debug.ui/icons/full/clcl16/suspend_co.gif"
			menubarPath="emptyBreakpointGroup"
			helpContextId="breakpoint_suspend_policy_toggle_action_context" 
			class="org.eclipse.jdt.internal.debug.ui.actions.BreakpointSuspendPolicyToggleAction"
			enablesFor="1">
		</action>
		<action
			id="org.eclipse.jdt.ui.actions.JavaBreakpointProperties"
			label="%breakpointPropertiesAction.label"
			menubarPath="additions"
			helpContextId="breakpoint_properties_action_context" 
			class="org.eclipse.jdt.internal.debug.ui.actions.JavaBreakpointPropertiesAction"
			enablesFor="1">
		</action>
	</objectContribution>	
	<objectContribution
		id="org.eclipse.jdt.debug.ExceptionToggleActions"
		objectClass="org.eclipse.jdt.debug.core.IJavaExceptionBreakpoint">
		<action
			id="org.eclipse.jdt.ui.actions.CaughtToggle"
			label="%caughtAction.label"
			menubarPath="emptyBreakpointGroup"
			state="true"
			helpContextId="exception_caught_toggle_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.ExceptionCaughtToggleAction"
			enablesFor="+">
		</action>
		<action
			id="org.eclipse.jdt.ui.actions.UncaughtToggle"
			label="%uncaughtAction.label"
			menubarPath="emptyBreakpointGroup"
			state="true"
			helpContextId="exception_uncaught_toggle_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.ExceptionUncaughtToggleAction"
			enablesFor="+">
		</action>
	</objectContribution>
	<objectContribution
		id="org.eclipse.jdt.debug.DropToFrameActions"
		objectClass="org.eclipse.jdt.debug.core.IJavaStackFrame">
		<filter name="DropToFrameActionFilter" value="supportsDropToFrame"/>
		<action
			id="org.eclipse.jdt.ui.actions.DropToFrame"
			label="%dropFrameAction.label"
			tooltip="%dropFrameAction.tooltip"
			menubarPath="emptyThreadGroup"
			helpContextId="drop_to_frame_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.DropToFrameAction"
			enablesFor="1">
		</action>
	</objectContribution>
	<viewerContribution
		id="org.eclipse.jdt.debug.ToggleStepFilterActions"
		targetID="org.eclipse.debug.ui.DebugView">
		<action
			id="org.eclipse.jdt.ui.actions.ToggleStepFilter"
			label="%toggleStepFilterAction.label"
			icon="icons/full/elcl16/stepfilter_co.gif"
			disabledIcon="icons/full/dlcl16/stepfilter_co.gif"
			hoverIcon="icons/full/clcl16/stepfilter_co.gif"
			tooltip="%toggleStepFilter.tooltip"
			menubarPath="additions"
			helpContextId="toggle_step_filter_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.ToggleStepFilterAction"
			enablesFor="+">
			<selection class="org.eclipse.jdt.debug.core.IJavaDebugTarget"/>
			<selection class="org.eclipse.jdt.debug.core.IJavaThread"/>
			<selection class="org.eclipse.jdt.debug.core.IJavaStackFrame"/>
		</action>
	</viewerContribution>
	<viewerContribution
		id="org.eclipse.jdt.debug.OpenOnConsoleTypeActions"
		targetID="org.eclipse.debug.ui.ConsoleView">
		<action
			id="org.eclipse.jdt.ui.actions.OpenOnConsoleType"
			label="%openOnConsoleTypeAction.label"
			icon="../org.eclipse.jdt.ui/icons/full/ctool16/opentype.gif"
			tooltip="%openOnConsoleTypeAction.tooltip"
			menubarPath="additions"
			helpContextId="open_on_console_type_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.OpenOnConsoleTypeAction">
		</action>
	</viewerContribution>
	<viewerContribution
		id="org.eclipse.jdt.debug.DebugViewPopupActions"
		targetID="org.eclipse.debug.ui.DebugView">
		<action id="org.eclipse.jdt.ui.debugViewPopupActions.ShowQualified"
			label="%showQualifiedAction.label"
			tooltip="%showQualifiedAction.tooltip"
			menubarPath="renderGroup"
			icon="../org.eclipse.jdt.ui/icons/full/obj16/package_obj.gif"
			helpContextId="show_qualified_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.ShowQualifiedAction">
		</action>
	</viewerContribution>
	<viewerContribution
		id="org.eclipse.jdt.debug.BreakpointViewPopupActions"
		targetID="org.eclipse.debug.ui.BreakpointView">
		<action id="org.eclipse.jdt.ui.breakpointViewPopupActions.ShowQualified"
			label="%showQualifiedAction.label"
			tooltip="%showQualifiedAction.tooltip"
			menubarPath="renderGroup"
			icon="../org.eclipse.jdt.ui/icons/full/obj16/package_obj.gif"
			helpContextId="show_qualified_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.ShowQualifiedAction">
		</action>
		<action id="org.eclipse.jdt.debug.ui.breakpointViewPopupActions.AddException"
			label="%exceptionAction.accel.label"
			menubarPath="emptyBreakpointGroup"
			icon="icons/full/clcl16/exc_catch.gif"
			tooltip="%exceptionAction.tooltip"
			helpContextId="add_exception_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.AddExceptionAction">
		</action>
	</viewerContribution>
	<viewerContribution
		id="org.eclipse.jdt.debug.VariableViewPopupActions"
		targetID="org.eclipse.debug.ui.VariableView">
		<action id="org.eclipse.jdt.ui.variableViewPopupActions.ShowQualified"
			label="%showQualifiedAction.label"
			tooltip="%showQualifiedAction.tooltip"
			menubarPath="renderGroup"
			icon="../org.eclipse.jdt.ui/icons/full/obj16/package_obj.gif"
			helpContextId="show_qualified_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.ShowQualifiedAction">
		</action>
		<action id="org.eclipse.jdt.ui.variableViewPopupActions.ShowStaticFields"
			label="%showStaticAction.label"
			tooltip="%showStaticAction.tooltip"
			menubarPath="renderGroup"
			icon="icons/full/clcl16/static_co.gif"
			helpContextId="show_static_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.ShowStaticFieldsAction">
		</action>
		<action id="org.eclipse.jdt.ui.variableViewPopupActions.ShowFinalFields"
			label="%showFinalAction.label"
			tooltip="%showFinalAction.tooltip"
			menubarPath="renderGroup"
			icon="icons/full/clcl16/final_co.gif"
			helpContextId="show_final_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.ShowFinalFieldsAction">
		</action>
	</viewerContribution>
	<viewerContribution
		id="org.eclipse.jdt.debug.ExpressionViewPopupActions"
		targetID="org.eclipse.debug.ui.ExpressionView">
		<action id="org.eclipse.jdt.ui.expressionViewPopupActions.ShowQualified"
			label="%showQualifiedAction.label"
			tooltip="%showQualifiedAction.tooltip"
			menubarPath="renderGroup"
			icon="../org.eclipse.jdt.ui/icons/full/obj16/package_obj.gif"
			helpContextId="show_qualified_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.ShowQualifiedAction">
		</action>	
		<action id="org.eclipse.jdt.ui.expressionViewPopupActions.ShowStaticFields"
			label="%showStaticAction.label"
			tooltip="%showStaticAction.tooltip"
			menubarPath="renderGroup"
			icon="icons/full/clcl16/static_co.gif"
			helpContextId="show_static_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.ShowStaticFieldsAction">
		</action>
		<action id="org.eclipse.jdt.ui.expressionViewPopupActions.ShowFinalFields"
			label="%showFinalAction.label"
			tooltip="%showFinalAction.tooltip"
			menubarPath="renderGroup"
			icon="icons/full/clcl16/final_co.gif"
			helpContextId="show_final_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.ShowFinalFieldsAction">
		</action>		
	</viewerContribution>
	<viewerContribution
		id="org.eclipse.jdt.debug.DetailsEvaluationActions"
		targetID="org.eclipse.debug.ui.VariableView.detail">
		<action id="org.eclipse.jdt.debug.ui.variablesViewDetail.Display" 
			label="%Display.label" 
			menubarPath="variableGroup" 
			icon="icons/full/ctool16/disp_sbook.gif"
			helpContextId="display_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.DisplayAction"> 
		</action> 	
        <action id="org.eclipse.jdt.debug.ui.variablesViewDetail.Inspect" 
			label="%Inspect.label" 
			menubarPath="variableGroup" 
			icon="icons/full/ctool16/insp_sbook.gif" 
			helpContextId="inspect_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.InspectAction"> 
		</action>
	</viewerContribution>
	<viewerContribution
		id="org.eclipse.jdt.debug.DisplayEvaluationActions"
		targetID="org.eclipse.jdt.debug.ui.DisplayView">
		<action id="org.eclipse.jdt.debug.ui.displayView.Display" 
			label="%Display.label" 
			menubarPath="evaluationGroup"
			icon="icons/full/ctool16/disp_sbook.gif" 
			helpContextId="display_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.DisplayAction"
			enablesFor="+"> 
		</action>
		<action id="org.eclipse.jdt.debug.ui.displayView.Inspect" 
			label="%Inspect.label" 
			menubarPath="evaluationGroup"
			icon="icons/full/ctool16/insp_sbook.gif"
			helpContextId="inspect_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.InspectAction"
			enablesFor="+">
		</action> 
	</viewerContribution>
</extension>

<extension point="org.eclipse.ui.viewActions">
	<viewContribution
		id="org.eclipse.jdt.ui.debug.VariableViewActions"
		targetID="org.eclipse.debug.ui.VariableView">
		<action id="org.eclipse.jdt.ui.variableViewActions.ShowFinalFields"
			label="%showFinalAction.label"
			toolbarPath="javaVariableFilters"
			icon="icons/full/elcl16/final_co.gif"
			disabledIcon="icons/full/dlcl16/final_co.gif"
			hoverIcon="icons/full/clcl16/final_co.gif"
			tooltip="%showFinalAction.tooltip"
			helpContextId="show_final_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.ShowFinalFieldsAction">
		</action>
		<action id="org.eclipse.jdt.ui.variableViewActions.ShowStaticFields"
			label="%showStaticAction.label"
			toolbarPath="javaVariableFilters"
			icon="icons/full/elcl16/static_co.gif"
			disabledIcon="icons/full/dlcl16/static_co.gif"
			hoverIcon="icons/full/clcl16/static_co.gif"
			tooltip="%showStaticAction.tooltip"
			helpContextId="show_static_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.ShowStaticFieldsAction">
		</action>
		<action id="org.eclipse.jdt.ui.variableViewActions.ShowQualified"
			label="%showQualifiedAction.label"
			toolbarPath="renderGroup"
			icon="../org.eclipse.jdt.ui/icons/full/obj16/package_obj.gif"
			tooltip="%showQualifiedAction.tooltip"
			helpContextId="show_qualified_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.ShowQualifiedAction">
		</action>
	</viewContribution>
	<viewContribution
		id="org.eclipse.jdt.ui.debug.ExpressionViewActions"
		targetID="org.eclipse.debug.ui.ExpressionView">
		<action id="org.eclipse.jdt.ui.expressionViewActions.ShowFinalFields"
			label="%showFinalAction.label"
			toolbarPath="javaVariableFilters"
			icon="icons/full/elcl16/final_co.gif"
			disabledIcon="icons/full/dlcl16/final_co.gif"
			hoverIcon="icons/full/clcl16/final_co.gif"
			tooltip="%showFinalAction.tooltip"
			helpContextId="show_final_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.ShowFinalFieldsAction">
		</action>
		<action id="org.eclipse.jdt.ui.expressionViewActions.ShowStaticFields"
			label="%showStaticAction.label"
			toolbarPath="javaVariableFilters"
			icon="icons/full/elcl16/static_co.gif"
			disabledIcon="icons/full/dlcl16/static_co.gif"
			hoverIcon="icons/full/clcl16/static_co.gif"
			tooltip="%showStaticAction.tooltip"
			helpContextId="show_static_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.ShowStaticFieldsAction">
		</action>
			<action id="org.eclipse.jdt.ui.expressionViewActions.ShowQualified"
			label="%showQualifiedAction.label"
			toolbarPath="renderGroup"
			icon="../org.eclipse.jdt.ui/icons/full/obj16/package_obj.gif"
			tooltip="%showQualifiedAction.tooltip"
			helpContextId="show_qualified_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.ShowQualifiedAction">
		</action>
	</viewContribution>	
	<viewContribution
		id="org.eclipse.jdt.debug.ui.BreakpointViewActions"
		targetID="org.eclipse.debug.ui.BreakpointView">
		<action id="org.eclipse.jdt.debug.ui.actions.AddException"
			label="%exceptionAction.label"
			toolbarPath="javaExceptions"
			icon="icons/full/elcl16/exc_catch.gif"
			disabledIcon="icons/full/dlcl16/exc_catch.gif"
			hoverIcon="icons/full/clcl16/exc_catch.gif"
			tooltip="%exceptionAction.tooltip"
			helpContextId="add_exception_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.AddExceptionAction">
		</action>
			<action id="org.eclipse.jdt.ui.breakpointViewActions.ShowQualified"
			label="%showQualifiedAction.label"
			toolbarPath="renderGroup"
			icon="../org.eclipse.jdt.ui/icons/full/obj16/package_obj.gif"
			tooltip="%showQualifiedAction.tooltip"
			helpContextId="show_qualified_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.ShowQualifiedAction">
		</action>
	</viewContribution>
	<viewContribution
		id="org.eclipse.jdt.debug.ui.LaunchViewActions"
		targetID="org.eclipse.debug.ui.DebugView">
			<action id="org.eclipse.jdt.ui.launchViewActions.ShowQualified"
			label="%showQualifiedAction.label"
			toolbarPath="renderGroup"
			icon="../org.eclipse.jdt.ui/icons/full/obj16/package_obj.gif"
			tooltip="%showQualifiedAction.tooltip"
			helpContextId="show_qualified_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.ShowQualifiedAction">
		</action>
	</viewContribution>
	<viewContribution
		id="org.eclipse.jdt.debug.ui.DisplayViewActions"
		targetID="org.eclipse.jdt.debug.ui.DisplayView">
		<action id="org.eclipse.jdt.debug.ui.displayViewToolbar.Display" 
			label="%Display.label" 
			tooltip="%Display.tooltip"
			toolbarPath="evaluationGroup"
			icon="icons/full/etool16/disp_sbook.gif"
			disabledIcon="icons/full/dtool16/disp_sbook.gif"
			hoverIcon="icons/full/ctool16/disp_sbook.gif"
			helpContextId="display_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.DisplayAction"> 
		</action>
		<action id="org.eclipse.jdt.debug.ui.displayViewToolbar.Inspect" 
			label="%Inspect.label" 
			tooltip="%Inspect.tooltip"
			toolbarPath="evaluationGroup"
			icon="icons/full/etool16/insp_sbook.gif"
			disabledIcon="icons/full/dtool16/insp_sbook.gif"
			hoverIcon="icons/full/ctool16/insp_sbook.gif"
			helpContextId="inspect_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.InspectAction"> 
		</action> 
	</viewContribution>
</extension>

<!--Java debug model presentation -->
<extension point = "org.eclipse.debug.ui.debugModelPresentations"> 
         <debugModelPresentation
             class = "org.eclipse.jdt.internal.debug.ui.JDIModelPresentation"
             id = "org.eclipse.jdt.debug"
             detailsViewerConfiguration = "org.eclipse.jdt.internal.debug.ui.display.DetailsViewerConfiguration">
          </debugModelPresentation> 
</extension>

<extension point="org.eclipse.ui.popupMenus">
	<objectContribution
		id="org.eclipse.jdt.debug.ui.OpenOnReceivingTypeActions"
		objectClass="org.eclipse.jdt.debug.core.IJavaStackFrame">
		<menu
			id="org.eclipse.jdt.debug.ui.actions.OpenOnMenu"
			path="emptyEditGroup"
			label="%openOnAction.label">
			<separator name="group.openOn"/>
		</menu>
		<action
			id="org.eclipse.jdt.debug.ui.actions.OpenOnReceivingType"
			label="%openRecType.label"
			tooltip="%openRecType.tooltip"
			menubarPath="org.eclipse.jdt.debug.ui.actions.OpenOnMenu/group.openOn"
			helpContextId="open_on_receiving_type_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.OpenOnReceivingTypeAction">
		</action>
	</objectContribution>
	<objectContribution
		id="org.eclipse.jdt.debug.ui.JavaVariableActions"
		objectClass="org.eclipse.jdt.debug.core.IJavaVariable">
		<action
			id="org.eclipse.jdt.debug.ui.actions.OpenOnVariableType"
			label="%openDeclVarType.label"
			tooltip="%openDeclVarType.tooltip"
			menubarPath="openOnGroup"
			helpContextId="open_on_variable_type_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.OpenOnVariableAction">
		</action>
		<action
			id="org.eclipse.jdt.debug.ui.actions.VariableInspectAction"
			label="%Inspect.label"
			menubarPath="openOnGroup"
			icon="icons/full/ctool16/insp_sbook.gif"
			helpContextId="variable_inspect_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.InspectAction"
			enablesFor="+">
		</action>		
	</objectContribution>
	<objectContribution
		id="org.eclipse.jdt.debug.ui.OpenOnDeclaringTypeActions"
		objectClass="org.eclipse.jdt.debug.core.IJavaStackFrame">
		<action
			id="org.eclipse.jdt.debug.ui.actions.OpenOnDeclaringType"
			label="%openDeclType.label"
			tooltip="%openDeclType.tooltip"
			menubarPath="org.eclipse.jdt.debug.ui.actions.OpenOnMenu/group.openOn"
			helpContextId="open_on_declaring_type_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.OpenOnDeclaringTypeAction">
		</action>
	</objectContribution>
	<viewerContribution 
    	id="org.eclipse.jdt.debug.ui.JavaSnippetPopupActions" 
    	targetID="#JavaSnippetEditorContext">
    	<action id="org.eclipse.jdt.debug.ui.Display" 
			label="%Display.label" 
			menubarPath="additions" 
			icon="icons/full/ctool16/disp_sbook.gif"
			helpContextId="display_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.DisplayAction"> 
		</action> 	
        <action id="org.eclipse.jdt.debug.ui.Inspect" 
			label="%Inspect.label" 
			menubarPath="additions" 
			icon="icons/full/ctool16/insp_sbook.gif" 
			helpContextId="inspect_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.InspectAction"> 
		</action>
     </viewerContribution>

	<viewerContribution 
    	id="org.eclipse.jdt.debug.ui.ClassFileRulerPopupActions" 
    	targetID="#ClassFileRulerContext">
    	<action
			id="org.eclipse.jdt.ui.actions.JavaBreakpointPropertiesRulerActionDelegate"
			label="%JavaBreakpointProperties.label"
			menubarPath="debug"
			helpContextId="breakpoint_properties_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.JavaBreakpointPropertiesRulerActionDelegate">
		</action>
    	<action
			id="org.eclipse.jdt.ui.actions.EnableDisableBreakpointRulerActionDelegate"
			label="%EnableBreakpoint.label"
			menubarPath="debug"
			helpContextId="enable_disable_breakpoint_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.EnableDisableBreakpointRulerActionDelegate">
		</action>
		<action
			id="org.eclipse.jdt.ui.actions.ManageBreakpointRulerActionDelegate"
			label="%AddBreakpoint.label"
			menubarPath="debug"
			helpContextId="manage_breakpoint_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.ManageBreakpointRulerActionDelegate">
		</action>
	</viewerContribution>
	<viewerContribution 
    	id="org.eclipse.jdt.debug.ui.CompilationUnitRulerPopupActions" 
    	targetID="#CompilationUnitRulerContext">
    	<action
			id="org.eclipse.jdt.ui.actions.JavaBreakpointPropertiesRulerActionDelegate"
			label="%JavaBreakpointProperties.label"
			menubarPath="debug"
			helpContextId="breakpoint_properties_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.JavaBreakpointPropertiesRulerActionDelegate">
		</action>
		<action
			id="org.eclipse.jdt.ui.actions.EnableDisableBreakpointRulerActionDelegate"
			label="%EnableBreakpoint.label"
			menubarPath="debug"
			helpContextId="enable_disable_breakpoint_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.EnableDisableBreakpointRulerActionDelegate">
		</action>
		<action
			id="org.eclipse.jdt.ui.actions.ManageBreakpointRulerActionDelegate"
			label="%AddBreakpoint.label"
			menubarPath="debug"
			helpContextId="manage_breakpoint_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.ManageBreakpointRulerActionDelegate">
		</action>
	</viewerContribution>	
	<viewerContribution 
    	id="org.eclipse.jdt.debug.ui.CUPopupActions" 
    	targetID="#CompilationUnitEditorContext">
    	<action id="org.eclipse.jdt.debug.ui.cuPopup.RunToLine"
    		label="%runToLineAction.label"
    		icon="icons/full/clcl16/runtoline_co.gif"
    		menubarPath="additions"
    		helpContextId="run_to_line_action_context"
    		class="org.eclipse.jdt.internal.debug.ui.actions.RunToLineActionDelegate"> 
		</action>
    	<action id="org.eclipse.jdt.debug.ui.cuPopup.Display" 
			label="%Display.label" 
			menubarPath="additions" 
			icon="icons/full/ctool16/disp_sbook.gif"
			helpContextId="display_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.DisplayAction"> 
		</action> 	
        <action id="org.eclipse.jdt.debug.ui.cuPopup.Inspect" 
			label="%Inspect.label" 
			menubarPath="additions" 
			icon="icons/full/ctool16/insp_sbook.gif"
			helpContextId="inspect_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.InspectAction"> 
		</action>
     </viewerContribution>
     <viewerContribution 
    	id="org.eclipse.jdt.debug.ui.CFPopupActions" 
    	targetID="#ClassFileEditorContext">
    	<action id="org.eclipse.jdt.debug.ui.cfPopup.RunToLine"
 		   	icon="icons/full/clcl16/runtoline_co.gif"
    		label="%runToLineAction.label"
    		menubarPath="additions"
     		helpContextId="run_to_line_action_context"
    		class="org.eclipse.jdt.internal.debug.ui.actions.RunToLineActionDelegate"> 
		</action> 
    	<action id="org.eclipse.jdt.debug.ui.cfPopup.Display" 
			label="%Display.label" 
			menubarPath="additions"
			icon="icons/full/ctool16/disp_sbook.gif"
			helpContextId="display_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.DisplayAction"> 
		</action> 	
        <action id="org.eclipse.jdt.debug.ui.cfPopup.Inspect" 
			label="%Inspect.label" 
			menubarPath="additions"
			icon="icons/full/ctool16/insp_sbook.gif"
			helpContextId="inspect_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.InspectAction"> 
		</action> 
     </viewerContribution>
     <objectContribution 
     	id="org.eclipse.jdt.debug.ui.MethodBreakpointActions"
     	objectClass="org.eclipse.jdt.core.IMethod">
     	<filter name="MethodActionFilter" value="isBinaryMethod"/>
		<action id="org.eclipse.jdt.debug.ui.MethodBreakpoint"
		 	label="%manageMethodBreakpointAction.label"
		 	helpContextId="manage_method_breakpoint_action_context"
		 	menubarPath="additions"
		 	class="org.eclipse.jdt.internal.debug.ui.actions.ManageMethodBreakpointActionDelegate"
		 	enablesFor="1">
	  </action>
  	</objectContribution>
	<objectContribution 
		id="org.eclipse.jdt.debug.ui.WatchpointActions"
		objectClass="org.eclipse.jdt.core.IField">
  		<action id="org.eclipse.jdt.debug.ui.Watchpoint"
  			label="%manageWatchpointAction.label"
  			helpContextId="manage_watchpoint_action_context"
  			menubarPath="additions"
  			class="org.eclipse.jdt.internal.debug.ui.actions.ManageWatchpointActionDelegate"
  			enablesFor="1">
  		</action> 
    </objectContribution>
  	<objectContribution 
		id="org.eclipse.jdt.debug.ui.WatchpointActions"
		objectClass="org.eclipse.jdt.debug.core.IJavaFieldVariable">
  		<action id="org.eclipse.jdt.debug.ui.VariableWatchpoint"
  			label="%manageWatchpointAction.label"
  			helpContextId="manage_watchpoint_action_context"
  			menubarPath="additions"
  			class="org.eclipse.jdt.internal.debug.ui.actions.ManageWatchpointActionDelegate"
  			enablesFor="1">
  		</action> 
    </objectContribution>
</extension>

<extension point="org.eclipse.ui.editorActions"> 
      <editorContribution 
         id="org.eclipse.jdt.debug.ui.JavaSnippetToolbarActions" 
         targetID="org.eclipse.jdt.debug.ui.SnippetEditor"> 
         <action id="org.eclipse.jdt.debug.ui.SnippetDisplay" 
			label="%Display.label"
			tooltip="%Display.tooltip"
			toolbarPath="evaluationGroup" 
			icon="icons/full/etool16/disp_sbook.gif"
			disabledIcon="icons/full/dtool16/disp_sbook.gif"
			hoverIcon="icons/full/ctool16/disp_sbook.gif"
			helpContextId="display_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.DisplayAction"> 
		</action> 	
        <action id="org.eclipse.jdt.debug.ui.SnippetInspect" 
			label="%Inspect.label" 
			tooltip="%Inspect.tooltip"
			toolbarPath="evaluationGroup" 
			icon="icons/full/etool16/insp_sbook.gif"
			disabledIcon="icons/full/dtool16/insp_sbook.gif"
			hoverIcon="icons/full/ctool16/insp_sbook.gif"
			helpContextId="inspect_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.InspectAction"> 
		</action>
      </editorContribution> 
   </extension> 

<extension
	point="org.eclipse.ui.propertyPages">
	<page
		id="org.eclipse.jdt.debug.ui.launching.ProcessPage" 
		name="%processInfoPageName"
		objectClass="org.eclipse.debug.core.model.IProcess"
		class="org.eclipse.jdt.internal.debug.ui.launcher.ProcessPropertyPage"> 
    </page>
	<page
		id="org.eclipse.jdt.debug.ui.launching.ProcessPage" 
		name="%processInfoPageName"
		objectClass="org.eclipse.debug.core.model.IDebugTarget"
		class="org.eclipse.jdt.internal.debug.ui.launcher.ProcessPropertyPage"> 
    </page>
	<page
		id="org.eclipse.jdt.debug.ui.snippeteditor.SnippetEditorPage" 
		name="%snippetEditorPageName"
		objectClass="org.eclipse.core.resources.IFile"
		class="org.eclipse.jdt.internal.debug.ui.snippeteditor.SnippetEditorPropertyPage"
		nameFilter="*.jpage"> 
    </page>    
</extension>

<extension point = "org.eclipse.ui.preferencePages">
	<page
		id = "org.eclipse.jdt.debug.ui.preferences.VMPreferencePage"
		class="org.eclipse.jdt.internal.debug.ui.launcher.VMPreferencePage"
		name= "%installJREPageName"
		category= "org.eclipse.jdt.ui.preferences.JavaBasePreferencePage">
	</page>
	<page name="%javaDebugPrefName"
         id="org.eclipse.jdt.ui.JavaDebugPreferencePage"   
	     class="org.eclipse.jdt.internal.debug.ui.JavaDebugPreferencePage"
         category="org.eclipse.jdt.ui.preferences.JavaBasePreferencePage">
	</page>
	<page name="%javaDebugAppearancePrefName"
         id="org.eclipse.jdt.ui.JavaDebugAppearancePreferencePage"   
         class="org.eclipse.jdt.internal.debug.ui.JavaDebugAppearancePreferencePage"
         category="org.eclipse.jdt.ui.JavaDebugPreferencePage">
	</page>	
	<page name="%javaStepFilterPrefName"
         id="org.eclipse.jdt.ui.JavaStepFilterPreferencePage"   
         class="org.eclipse.jdt.internal.debug.ui.JavaStepFilterPreferencePage"
         category="org.eclipse.jdt.ui.JavaDebugPreferencePage">
	</page>
</extension>

<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
	<launchConfigurationTypeImage
		id="org.eclipse.jdt.debug.ui.launchConfigurationTypeImage.localJavaApplication"
		configTypeID="org.eclipse.jdt.launching.localJavaApplication"
		icon="icons/full/ctool16/java_app.gif">
	</launchConfigurationTypeImage>	
	<launchConfigurationTypeImage
		id="org.eclipse.jdt.debug.ui.launchConfigurationTypeImage.remoteJavaApplication"
		configTypeID="org.eclipse.jdt.launching.remoteJavaApplication"
		icon="icons/full/ctool16/java_attach.gif">
	</launchConfigurationTypeImage>	
</extension>

<extension point = "org.eclipse.debug.ui.launchConfigurationTabGroups">
	<launchConfigurationTabGroup
		id="org.eclipse.jdt.debug.ui.launchConfigurationTabGroup.localJavaApplication"
		type ="org.eclipse.jdt.launching.localJavaApplication"
		class="org.eclipse.jdt.internal.debug.ui.launcher.LocalJavaApplicationTabGroup">
	</launchConfigurationTabGroup>
	<launchConfigurationTabGroup
		id="org.eclipse.jdt.debug.ui.launchConfigurationTabGroup.remoteJavaApplication"
		type ="org.eclipse.jdt.launching.remoteJavaApplication"
		class="org.eclipse.jdt.internal.debug.ui.launcher.RemoteJavaApplicationTabGroup">
	</launchConfigurationTabGroup>
</extension>

<extension point = "org.eclipse.debug.core.statusHandlers">
	<statusHandler
		id="org.eclipse.jdt.debug.ui.statusHandler.workingDirectory"
		class="org.eclipse.jdt.internal.debug.ui.launcher.WorkingDirectoryStatusHandler"
		plugin ="org.eclipse.jdt.launching"
		code="115">
	</statusHandler>
	<statusHandler
		id="org.eclipse.jdt.debug.ui.statusHandler.vmConnectTimeout"
		class="org.eclipse.jdt.internal.debug.ui.launcher.VMConnectTimeoutStatusHandler"
		plugin ="org.eclipse.jdt.launching"
		code="117">
	</statusHandler>	
	<statusHandler
		id="org.eclipse.jdt.debug.ui.statusHandler.unresolvedJRE"
		class="org.eclipse.jdt.internal.debug.ui.launcher.UnresolvedJREStatusHandler"
		plugin ="org.eclipse.jdt.launching"
		code="160">
	</statusHandler>
	<statusHandler
		id="org.eclipse.jdt.debug.ui.statusHandler.suspendTimeout"
		class="org.eclipse.jdt.internal.debug.ui.SuspendTimeoutStatusHandler"
		plugin = "org.eclipse.jdt.debug"
		code="161">
	</statusHandler>
</extension>

<extension point = "org.eclipse.debug.core.sourceLocators">
	<sourceLocator
		id = "org.eclipse.jdt.debug.ui.javaSourceLocator"
	   	class="org.eclipse.jdt.debug.ui.JavaUISourceLocator"
	   	name="%JavaSourceLocator.name"/>
</extension>

<extension point = "org.eclipse.debug.ui.debugActionGroups">
	<debugActionGroup
		id = "org.eclipse.jdt.debug.ui.javaDebugActionGroup"
	   	visible="true"
	   	name="%JavaDebugActionGroup.name">
	   	<action id="org.eclipse.jdt.ui.breakpointViewActions.ShowQualified"/>
	   	<action id="org.eclipse.jdt.debug.ui.actions.AddException"/>
	   	<action id="org.eclipse.jdt.ui.expressionViewActions.ShowQualified"/>
		<action id="org.eclipse.jdt.ui.expressionViewActions.ShowStaticFields"/>
		<action id="org.eclipse.jdt.ui.expressionViewActions.ShowFinalFields"/>
		<action id="org.eclipse.jdt.ui.launchViewActions.ShowQualified"/>
		<action id="org.eclipse.jdt.ui.actions.ToggleStepFilter"/>
		<action id="org.eclipse.jdt.ui.variableViewActions.ShowQualified"/>
		<action id="org.eclipse.jdt.ui.variableViewActions.ShowStaticFields"/>
		<action id="org.eclipse.jdt.ui.variableViewActions.ShowFinalFields"/>
	</debugActionGroup>
</extension>

<extension point = "org.eclipse.debug.ui.launchShortcuts">
	<shortcut
		id="org.eclipse.jdt.debug.ui.localJavaShortcut"
		class="org.eclipse.jdt.internal.debug.ui.launcher.JavaApplicationShortcut"
		label="%JavaApplicationShortcut.label"
		icon="icons/full/ctool16/java_app.gif"
		modes="run, debug">
		<perspective id="org.eclipse.jdt.ui.JavaPerspective"/>
		<perspective id="org.eclipse.jdt.ui.JavaHierarchyPerspective"/>
		<perspective id="org.eclipse.jdt.ui.JavaBrowsingPerspective"/>
		<perspective id="org.eclipse.debug.ui.DebugPerspective"/>
	</shortcut>
</extension>

<extension point = "org.eclipse.jdt.ui.classpathContainerPage">
	<classpathContainerPage
		id= "org.eclipse.jdt.launching.JRE_CONTAINER"
		name= "%jreSystemLibrary.name"
		class= "org.eclipse.jdt.internal.debug.ui.launcher.JREContainerWizardPage"/>
</extension>

<extension point = "org.eclipse.jdt.debug.ui.vmInstallTypePage">
	<vmInstallTypePage
		id="org.eclipse.jdt.debug.ui.StandardVMCommandTab"
		vmInstallTypeID="org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType"
		class="org.eclipse.jdt.internal.debug.ui.launcher.StandardVMCommandTab">
	</vmInstallTypePage>
	<vmInstallTypePage
		id="org.eclipse.jdt.debug.ui.StandardVMCommandTab"
		vmInstallTypeID="org.eclipse.jdt.launching.Standard11xVMType"
		class="org.eclipse.jdt.internal.debug.ui.launcher.StandardVMCommandTab">
	</vmInstallTypePage>	
</extension>

<extension point="org.eclipse.team.core.fileTypes">
  <fileTypes extension="jpage" type="text"/>
</extension>

</plugin>