<?xml version="1.0" encoding="UTF-8"?>
<!-- File written by PDE 1.0 -->
<plugin
   id="org.eclipse.jdt.debug.ui"
   name="%pluginName"
   version="2.0.0"
   provider-name="Object Technology International, Inc."
   class="org.eclipse.jdt.internal.debug.ui.JDIDebugUIPlugin">
<!-- Required plugins -->
<requires>
  <import plugin="org.eclipse.ui"/>
  <import plugin="org.eclipse.core.resources"/>
  <import plugin="org.eclipse.jdt.core"/>
  <import plugin="org.apache.xerces"/>
  <import plugin="org.eclipse.search"/>
  <import plugin="org.eclipse.debug.core"/>
  <import plugin="org.eclipse.debug.ui"/> 
  <import plugin="org.eclipse.jdt.debug"/>
  <import plugin="org.eclipse.jdt.launching"/>
  <import plugin="org.eclipse.compare"/>
  <import plugin="org.eclipse.jdt.ui"/>
</requires>

<!-- Runtime -->
<runtime>
   <library name="jdiui.jar">
      <export name="*"/>
   </library>
</runtime>

<!-- Extensions Points -->

<!-- Extensions -->
- <extension point="org.eclipse.jdt.ui.javaEditorTextHovers">
  <hover id="org.eclipse.jdt.internal.debug.ui.JavaDebugHover" 
  	class="org.eclipse.jdt.internal.debug.ui.JavaDebugHover" /> 
  </extension>
<extension
    point= "org.eclipse.ui.editors"
    id= "org.eclipse.jdt.debug.ui.editors">
   <editor
      id="org.eclipse.jdt.debug.ui.SnippetEditor"
      icon="icons/full/obj16/jsbook_obj.gif"
      name="%JavaSnippetEditor.label"
      extensions="jpage"
      class="org.eclipse.jdt.internal.debug.ui.snippeteditor.JavaSnippetEditor"
      contributorClass="org.eclipse.jdt.internal.debug.ui.snippeteditor.SnippetEditorActionContributor">
   </editor>
</extension>

<extension point="org.eclipse.ui.actionSets">
	<actionSet 
		label="%JDTDebugActionSet.label" 
		visible="false" 
		id="org.eclipse.jdt.debug.ui.JDTDebugActionSet">
	<menu
        label="%DebugMenu.label"
          id="org.eclipse.debug.ui.DebugMenu">
        <separator
           name="jdtGroup">
         </separator>
      </menu>
  	  <action
  		 label="%runToLineAction.label"
  		 icon="icons/full/clcl16/runtoline_co.gif"
  		 helpContextId="run_to_line_action_context"
  		 class="org.eclipse.jdt.internal.debug.ui.actions.RunToLineAction"
  		 menubarPath="org.eclipse.debug.ui.DebugMenu/jdtGroup"
  		 id="org.eclipse.jdt.debug.ui.RunToLineAction"> 
  	    </action>
  		<action id="org.eclipse.jdt.debug.ui.Display" 
			label="%Display.label" 
			menubarPath="org.eclipse.debug.ui.DebugMenu/jdtGroup"
			icon="icons/full/etool16/disp_sbook.gif" 
			helpContextId="display_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.DisplayAction"> 
		</action>
		<action id="org.eclipse.jdt.debug.ui.Inspect" 
			label="%Inspect.label" 
			menubarPath="org.eclipse.debug.ui.DebugMenu/jdtGroup"
			icon="icons/full/etool16/insp_sbook.gif"
			helpContextId="inspect_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.InspectAction"> 
		</action> 
  </actionSet>
</extension>

<extension 
	point="org.eclipse.ui.views">
	<view
		id="org.eclipse.jdt.debug.ui.DisplayView"
		name="%displayViewName"
		category="org.eclipse.debug.ui"
	   	icon="icons/full/ctool16/disp_sbook.gif"
	   	class="org.eclipse.jdt.internal.debug.ui.display.DisplayView">
	</view>
</extension>

<extension point="org.eclipse.ui.perspectiveExtensions">
	<perspectiveExtension 
		targetID="org.eclipse.debug.ui.DebugPerspective">
		<actionSet id="org.eclipse.jdt.debug.ui.JDTDebugActionSet"/>
	</perspectiveExtension>
	<perspectiveExtension 
		targetID="org.eclipse.jdt.ui.JavaPerspective">
		<actionSet id="org.eclipse.jdt.debug.ui.JDTDebugActionSet"/>
	</perspectiveExtension>
    <perspectiveExtension 
    	targetID="org.eclipse.debug.ui.DebugPerspective"> 
    	<view id="org.eclipse.jdt.debug.ui.DisplayView" 
        	relative="org.eclipse.debug.ui.ExpressionView" 
    		relationship="stack"/> 
    	<viewShortcut id="org.eclipse.jdt.debug.ui.DisplayView"/>
     </perspectiveExtension> 
</extension>

<extension point="org.eclipse.ui.popupMenus">
	<objectContribution
		id="org.eclipse.jdt.debug.WatchpointToggleActions"
		objectClass="org.eclipse.jdt.debug.core.IJavaWatchpoint">
		<action
			id="org.eclipse.jdt.debug.ui.actions.AccessToggle"
			label="%accessAction.label"
			menubarPath="emptyBreakpointGroup"
			state="false"
			class="org.eclipse.jdt.internal.debug.ui.actions.AccessWatchpointToggleAction"
			enablesFor="+">
		</action>
		<action
			id="org.eclipse.jdt.debug.ui.actions.ModificationToggle"
			label="%modificationAction.label"
			menubarPath="emptyBreakpointGroup"
			state="true"
			class="org.eclipse.jdt.internal.debug.ui.actions.ModificationWatchpointToggleAction"
			enablesFor="+">
		</action>
	</objectContribution>
	<objectContribution
		id="org.eclipse.jdt.debug.MethodBreakpointToggleActions"
		objectClass="org.eclipse.jdt.debug.core.IJavaMethodBreakpoint">
		<action
			id="org.eclipse.jdt.debug.ui.actions.EntryToggle"
			label="%entryAction.label"
			menubarPath="emptyBreakpointGroup"
			state="false"
			class="org.eclipse.jdt.internal.debug.ui.actions.EntryToggleAction"
			enablesFor="+">
		</action>
		<action
			id="org.eclipse.jdt.debug.ui.actions.ExitToggle"
			label="%exitAction.label"
			menubarPath="emptyBreakpointGroup"
			state="false"
			class="org.eclipse.jdt.internal.debug.ui.actions.ExitToggleAction"
			enablesFor="+">
		</action>		
	</objectContribution>
	<objectContribution
		id="org.eclipse.jdt.debug.JavaBreakpointActions"
		objectClass="org.eclipse.jdt.debug.core.IJavaBreakpoint">
		<action
			id="org.eclipse.jdt.ui.actions.BreakpointHitCount"
			label="%hitCount.label"
			menubarPath="emptyBreakpointGroup"
			class="org.eclipse.jdt.internal.debug.ui.actions.BreakpointHitCountAction"
			enablesFor="1">
		</action>
		<action
			id="org.eclipse.jdt.ui.actions.SuspendPolicy"
			label="%suspendPolicy.label"
			menubarPath="emptyBreakpointGroup"
			class="org.eclipse.jdt.internal.debug.ui.actions.BreakpointThreadToggleAction"
			enablesFor="1">
		</action>
		<action
			id="org.eclipse.jdt.ui.actions.JavaBreakpointProperties"
			label="%breakpointPropertiesAction.label"
			menubarPath="additions"
			class="org.eclipse.jdt.internal.debug.ui.actions.JavaBreakpointPropertiesAction"
			enablesFor="1">
		</action>
	</objectContribution>	
	<objectContribution
		id="org.eclipse.jdt.debug.ExceptionToggleActions"
		objectClass="org.eclipse.jdt.debug.core.IJavaExceptionBreakpoint">
		<action
			id="org.eclipse.jdt.ui.actions.CaughtToggle"
			label="%caughtAction.label"
			menubarPath="emptyBreakpointGroup"
			state="true"
			class="org.eclipse.jdt.internal.debug.ui.actions.ExceptionCaughtToggleAction"
			enablesFor="+">
		</action>
		<action
			id="org.eclipse.jdt.ui.actions.UncaughtToggle"
			label="%uncaughtAction.label"
			menubarPath="emptyBreakpointGroup"
			state="true"
			class="org.eclipse.jdt.internal.debug.ui.actions.ExceptionUncaughtToggleAction"
			enablesFor="+">
		</action>
	</objectContribution>
	<viewerContribution
		id="org.eclipse.jdt.debug.DropToFrameActions"
		targetID="org.eclipse.debug.ui.DebugView">
		<action
			id="org.eclipse.jdt.ui.actions.DropToFrame"
			label="%dropFrameAction.label"
			tooltip="%dropFrameAction.tooltip"
			menubarPath="emptyThreadGroup"
			class="org.eclipse.jdt.internal.debug.ui.actions.DropToFrameAction"
			enablesFor="1">
		</action>
	</viewerContribution>
	<viewerContribution
		id="org.eclipse.jdt.debug.ToggleStepFilterActions"
		targetID="org.eclipse.debug.ui.DebugView">
		<action
			id="org.eclipse.jdt.ui.actions.ToggleStepFilter"
			label="%toggleStepFilterAction.label"
			tooltip="%toggleStepFilter.tooltip"
			menubarPath="additions"
			class="org.eclipse.jdt.internal.debug.ui.actions.ToggleStepFilterAction">
		</action>
	</viewerContribution>
	<viewerContribution
		id="org.eclipse.jdt.debug.OpenOnConsoleTypeActions"
		targetID="org.eclipse.debug.ui.ConsoleView">
		<action
			id="org.eclipse.jdt.ui.actions.OpenOnConsoleType"
			label="%openOnConsoleTypeAction.label"
			tooltip="%openOnConsoleTypeAction.tooltip"
			menubarPath="additions"
			class="org.eclipse.jdt.internal.debug.ui.actions.OpenOnConsoleTypeAction">
		</action>
	</viewerContribution>	
	<viewerContribution
		id="org.eclipse.jdt.debug.ui.DebugActions"
		targetID="org.eclipse.jdt.ui.PackageExplorer">
		<action
			id="org.eclipse.jdt.debug.ui.actions.DebugAction"
			label="%debugAction.label"
			tooltip="%debugAction.toolTip"
			icon="icons/full/ctool16/debug_exc.gif"
			helpContextId="debug_action_context"
			menubarPath="additions"
			class="org.eclipse.debug.ui.actions.DebugAction">
		</action>
		<action
			id="org.eclipse.jdt.debug.ui.actions.RunAction"
			label="%runAction.label"
			tooltip="%runAction.toolTip"
			icon="icons/full/ctool16/run_exc.gif"
			helpContextId="run_action_context"
			menubarPath="additions"
			class="org.eclipse.debug.ui.actions.RunAction">
		</action>		
	</viewerContribution>
	<viewerContribution
		id="org.eclipse.jdt.debug.DetailsEvaluationActions"
		targetID="org.eclipse.debug.ui.VariableView.detail">
		<action id="org.eclipse.jdt.debug.ui.Display" 
			label="%Display.label" 
			menubarPath="additions" 
			icon="icons/full/etool16/disp_sbook.gif" 
			class="org.eclipse.jdt.internal.debug.ui.actions.DisplayAction"> 
		</action> 	
        <action id="org.eclipse.jdt.debug.ui.Inspect" 
			label="%Inspect.label" 
			menubarPath="additions" 
			icon="icons/full/etool16/insp_sbook.gif" 
			class="org.eclipse.jdt.internal.debug.ui.actions.InspectAction"> 
		</action>
	</viewerContribution>
	<viewerContribution
		id="org.eclipse.jdt.debug.DisplayEvaluationActions"
		targetID="org.eclipse.jdt.debug.ui.DisplayView">
		<action id="org.eclipse.jdt.debug.ui.Display" 
			label="%Display.label" 
			menubarPath="evaluationGroup"
			icon="icons/full/etool16/disp_sbook.gif" 
			helpContextId="display_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.DisplayAction"> 
		</action>
		<action id="org.eclipse.jdt.debug.ui.Inspect" 
			label="%Inspect.label" 
			menubarPath="evaluationGroup"
			icon="icons/full/etool16/insp_sbook.gif"
			helpContextId="inspect_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.InspectAction"> 
		</action> 
	</viewerContribution>
</extension>

<extension point="org.eclipse.ui.viewActions">
	<viewContribution
		id="org.eclipse.jdt.ui.debug.VariableViewActions"
		targetID="org.eclipse.debug.ui.VariableView">
		<action id="org.eclipse.jdt.ui.actions.ShowFinalFields"
			label="%showFinalAction.label"
			toolbarPath="javaVariableFilters"
			icon="icons/full/elcl16/final_co.gif"
			tooltip="%showFinalAction.tooltip"
			state="true"
			class="org.eclipse.jdt.internal.debug.ui.actions.ShowFinalFieldsAction">
		</action>
		<action id="org.eclipse.jdt.ui.actions.ShowStaticFields"
			label="%showStaticAction.label"
			toolbarPath="javaVariableFilters"
			icon="icons/full/elcl16/static_co.gif"
			tooltip="%showStaticAction.tooltip"
			state="true"
			class="org.eclipse.jdt.internal.debug.ui.actions.ShowStaticFieldsAction">
		</action>
		<action id="org.eclipse.jdt.ui.actions.ShowQualified"
			label="%showQualifiedAction.label"
			toolbarPath="renderGroup"
			icon="../org.eclipse.jdt.ui/icons/full/obj16/package_obj.gif"
			tooltip="%showQualifiedAction.tooltip"
			state="true"
			class="org.eclipse.jdt.internal.debug.ui.actions.ShowQualifiedAction">
		</action>
	</viewContribution>
	<viewContribution
		id="org.eclipse.jdt.ui.debug.ExpressionViewActions"
		targetID="org.eclipse.debug.ui.ExpressionView">
		<action id="org.eclipse.jdt.ui.actions.ShowFinalFields"
			label="%showFinalAction.label"
			toolbarPath="javaVariableFilters"
			icon="icons/full/elcl16/final_co.gif"
			tooltip="%showFinalAction.tooltip"
			state="true"
			class="org.eclipse.jdt.internal.debug.ui.actions.ShowFinalFieldsAction">
		</action>
		<action id="org.eclipse.jdt.ui.actions.ShowStaticFields"
			label="%showStaticAction.label"
			toolbarPath="javaVariableFilters"
			icon="icons/full/elcl16/static_co.gif"
			tooltip="%showStaticAction.tooltip"
			state="true"
			class="org.eclipse.jdt.internal.debug.ui.actions.ShowStaticFieldsAction">
		</action>
			<action id="org.eclipse.jdt.ui.actions.ShowQualified"
			label="%showQualifiedAction.label"
			toolbarPath="renderGroup"
			icon="../org.eclipse.jdt.ui/icons/full/obj16/package_obj.gif"
			tooltip="%showQualifiedAction.tooltip"
			state="true"
			class="org.eclipse.jdt.internal.debug.ui.actions.ShowQualifiedAction">
		</action>
	</viewContribution>	
	<viewContribution
		id="org.eclipse.jdt.debug.ui.BreakpointViewActions"
		targetID="org.eclipse.debug.ui.BreakpointView">
		<action id="org.eclipse.jdt.debug.ui.actions.AddException"
			label="%exceptionAction.label"
			toolbarPath="javaExceptions"
			icon="icons/full/clcl16/exc_catch.gif"
			tooltip="%exceptionAction.tooltip"
			class="org.eclipse.jdt.internal.debug.ui.actions.AddExceptionAction">
		</action>
			<action id="org.eclipse.jdt.ui.actions.ShowQualified"
			label="%showQualifiedAction.label"
			toolbarPath="renderGroup"
			icon="../org.eclipse.jdt.ui/icons/full/obj16/package_obj.gif"
			tooltip="%showQualifiedAction.tooltip"
			state="true"
			class="org.eclipse.jdt.internal.debug.ui.actions.ShowQualifiedAction">
		</action>
	</viewContribution>
	<viewContribution
		id="org.eclipse.jdt.debug.ui.LaunchViewActions"
		targetID="org.eclipse.debug.ui.DebugView">
			<action id="org.eclipse.jdt.ui.actions.ShowQualified"
			label="%showQualifiedAction.label"
			toolbarPath="renderGroup"
			icon="../org.eclipse.jdt.ui/icons/full/obj16/package_obj.gif"
			tooltip="%showQualifiedAction.tooltip"
			state="true"
			class="org.eclipse.jdt.internal.debug.ui.actions.ShowQualifiedAction">
		</action>
	</viewContribution>
	<viewContribution
		id="org.eclipse.jdt.debug.ui.DisplayViewActions"
		targetID="org.eclipse.jdt.debug.ui.DisplayView">
			<action id="org.eclipse.jdt.debug.ui.Display" 
			label="%Display.label" 
			tooltip="Display"
			toolbarPath="evaluationGroup"
			icon="icons/full/etool16/disp_sbook.gif" 
			helpContextId="display_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.DisplayAction"> 
		</action>
		<action id="org.eclipse.jdt.debug.ui.Inspect" 
			label="%Inspect.label" 
			tooltip="Inspect"
			toolbarPath="evaluationGroup"
			icon="icons/full/etool16/insp_sbook.gif"
			helpContextId="inspect_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.InspectAction"> 
		</action> 
	</viewContribution>
</extension>

<!--Java debug model presentation -->
<extension point = "org.eclipse.debug.ui.debugModelPresentations"> 
         <debugModelPresentation
             class = "org.eclipse.jdt.internal.debug.ui.JDIModelPresentation"
             id = "org.eclipse.jdt.debug"
             detailsViewerConfiguration = "org.eclipse.jdt.internal.debug.ui.display.DisplayViewerConfiguration">
          </debugModelPresentation> 
</extension>

<extension point="org.eclipse.ui.popupMenus">
	<objectContribution
		id="org.eclipse.jdt.debug.ui.OpenOnReceivingTypeActions"
		objectClass="org.eclipse.jdt.debug.core.IJavaStackFrame">
		<menu
			id="org.eclipse.jdt.debug.ui.actions.OpenOnMenu"
			path="emptyEditGroup"
			label="%openOnAction.label">
			<separator name="group.openOn"/>
		</menu>
		<action
			id="org.eclipse.jdt.debug.ui.actions.OpenOnReceivingType"
			label="%openRecType.label"
			tooltip="%openRecType.tooltip"
			menubarPath="org.eclipse.jdt.debug.ui.actions.OpenOnMenu/group.openOn"
			class="org.eclipse.jdt.internal.debug.ui.actions.OpenOnReceivingTypeAction">
		</action>
	</objectContribution>
	<objectContribution
		id="org.eclipse.jdt.debug.ui.JavaVariableActions"
		objectClass="org.eclipse.jdt.debug.core.IJavaVariable">
		<action
			id="org.eclipse.jdt.debug.ui.actions.OpenOnVariableType"
			label="%openDeclVarType.label"
			tooltip="%openDeclVarType.tooltip"
			menubarPath="openOnGroup"
			class="org.eclipse.jdt.internal.debug.ui.actions.OpenOnVariableAction">
		</action>
		<action
			id="org.eclipse.jdt.debug.ui.actions.VariableInspectAction"
			label="%Inspect.label"
			menubarPath="openOnGroup"
			icon="icons/full/etool16/insp_sbook.gif"
			class="org.eclipse.jdt.internal.debug.ui.actions.InspectAction"
			enablesFor="+">
		</action>		
	</objectContribution>
	<objectContribution
		id="org.eclipse.jdt.debug.ui.OpenOnDeclaringTypeActions"
		objectClass="org.eclipse.jdt.debug.core.IJavaStackFrame">
		<action
			id="org.eclipse.jdt.debug.ui.actions.OpenOnDeclaringType"
			label="%openDeclType.label"
			tooltip="%openDeclType.tooltip"
			menubarPath="org.eclipse.jdt.debug.ui.actions.OpenOnMenu/group.openOn"
			class="org.eclipse.jdt.internal.debug.ui.actions.OpenOnDeclaringTypeAction">
		</action>
	</objectContribution>
	<viewerContribution 
    	id="org.eclipse.jdt.debug.ui.JavaSnippetPopupActions" 
    	targetID="#JavaSnippetEditorContext">
    	<action id="org.eclipse.jdt.debug.ui.Display" 
			label="%Display.label" 
			menubarPath="additions" 
			icon="icons/full/etool16/disp_sbook.gif" 
			class="org.eclipse.jdt.internal.debug.ui.actions.DisplayAction"> 
		</action> 	
        <action id="org.eclipse.jdt.debug.ui.Inspect" 
			label="%Inspect.label" 
			menubarPath="additions" 
			icon="icons/full/etool16/insp_sbook.gif" 
			class="org.eclipse.jdt.internal.debug.ui.actions.InspectAction"> 
		</action>
     </viewerContribution>
	<viewerContribution 
    	id="org.eclipse.jdt.debug.ui.CUPopupActions" 
    	targetID="#CompilationUnitEditorContext">
    	<action id="org.eclipse.jdt.debug.ui.RunToLine"
    		label="%runToLineAction.label"
    		icon="icons/full/clcl16/runtoline_co.gif"
    		menubarPath="additions"
    		class="org.eclipse.jdt.internal.debug.ui.actions.RunToLineAction"> 
		</action>
    	<action id="org.eclipse.jdt.debug.ui.Display" 
			label="%Display.label" 
			menubarPath="additions" 
			icon="icons/full/etool16/disp_sbook.gif" 
			class="org.eclipse.jdt.internal.debug.ui.actions.DisplayAction"> 
		</action> 	
        <action id="org.eclipse.jdt.debug.ui.Inspect" 
			label="%Inspect.label" 
			menubarPath="additions" 
			icon="icons/full/etool16/insp_sbook.gif" 
			class="org.eclipse.jdt.internal.debug.ui.actions.InspectAction"> 
		</action>
		<action id="org.eclipse.jdt.debug.ui.AddBreakpoint" 
			label="%addBreakpointAction.label" 
			menubarPath="group.add/add" 
			class="org.eclipse.jdt.internal.debug.ui.actions.AddBreakpointAction"> 
		</action> 
     </viewerContribution>
     <viewerContribution 
    	id="org.eclipse.jdt.debug.ui.CFPopupActions" 
    	targetID="#ClassFileEditorContext">
    	<action id="org.eclipse.jdt.debug.ui.RunToLine"
 		   	icon="icons/full/clcl16/runtoline_co.gif"
    		label="%runToLineAction.label"
    		menubarPath="additions"
    		class="org.eclipse.jdt.internal.debug.ui.actions.RunToLineAction"> 
		</action> 
    	<action id="org.eclipse.jdt.debug.ui.Display" 
			label="%Display.label" 
			menubarPath="additions" 
			icon="icons/full/etool16/disp_sbook.gif" 
			class="org.eclipse.jdt.internal.debug.ui.actions.DisplayAction"> 
		</action> 	
        <action id="org.eclipse.jdt.debug.ui.Inspect" 
			label="%Inspect.label" 
			menubarPath="additions" 
			icon="icons/full/etool16/insp_sbook.gif" 
			class="org.eclipse.jdt.internal.debug.ui.actions.InspectAction"> 
		</action> 
		<action id="org.eclipse.jdt.debug.ui.AddBreakpoint" 
			label="%addBreakpointAction.label" 
			menubarPath="group.add/add" 
			class="org.eclipse.jdt.internal.debug.ui.actions.AddBreakpointAction"> 
		</action> 
     </viewerContribution>
     <objectContribution 
     	id="org.eclipse.jdt.debug.ui.MethodBreakpointActions"
     	objectClass="org.eclipse.jdt.core.IMethod">
		<action id="org.eclipse.jdt.debug.ui.MethodBreakpoint"
		 	label="%manageMethodBreakpointAction.label"
		 	menubarPath="additions" 
		 	class="org.eclipse.jdt.internal.debug.ui.actions.ManageMethodBreakpointAction"
		 	enablesFor="1">
	  </action>
  	</objectContribution>
	<objectContribution 
		id="org.eclipse.jdt.debug.ui.WatchpointActions"
		objectClass="org.eclipse.jdt.core.IField">
  		<action id="org.eclipse.jdt.debug.ui.Watchpoint"
  			label="%manageWatchpointAction.label"
  			menubarPath="additions"
  			class="org.eclipse.jdt.internal.debug.ui.actions.ManageWatchpointAction"
  			enablesFor="1">
  		</action> 
  </objectContribution>
</extension>

<extension point="org.eclipse.ui.editorActions"> 
      <editorContribution 
         id="org.eclipse.jdt.debug.ui.JavaSnippetToolbarActions" 
         targetID="org.eclipse.jdt.debug.ui.SnippetEditor"> 
         <action id="org.eclipse.jdt.debug.ui.Display" 
			label="%Display.label"
			tooltip="%Display.tooltip"
			toolbarPath="evaluationGroup" 
			icon="icons/full/etool16/disp_sbook.gif" 
			class="org.eclipse.jdt.internal.debug.ui.actions.DisplayAction"> 
		</action> 	
        <action id="org.eclipse.jdt.debug.ui.Inspect" 
			label="%Inspect.label" 
			tooltip="%Inspect.tooltip"
			toolbarPath="evaluationGroup" 
			icon="icons/full/etool16/insp_sbook.gif" 
			class="org.eclipse.jdt.internal.debug.ui.actions.InspectAction"> 
		</action>
      </editorContribution> 
   </extension> 


<extension
	point="org.eclipse.ui.propertyPages">
	<page
		id="org.eclipse.jdt.debug.ui.propertyPages.ExecutionArgsPage" 
		name="%execArgPageName"
		objectClass="org.eclipse.jdt.core.api.IType"
		class="org.eclipse.jdt.internal.debug.ui.launcher.ExecutionArgsPropertyPage">
    </page>
	<page
		id="org.eclipse.jdt.debug.ui.propertyPages.ExecutionArgsPage" 
		name="%execArgPageName"
		objectClass="org.eclipse.jdt.core.ICompilationUnit"
		class="org.eclipse.jdt.internal.debug.ui.launcher.ExecutionArgsPropertyPage">
    </page>
	<page
		id="org.eclipse.jdt.debug.ui.propertyPages.ExecutionArgsPage" 
		name="%execArgPageName"
		objectClass="org.eclipse.jdt.core.IClassFile"
		class="org.eclipse.jdt.internal.debug.ui.launcher.ExecutionArgsPropertyPage">
    </page>
	<page
		id="org.eclipse.jdt.debug.ui.propertyPages.ExecutionArgsPage" 
		name="%execArgPageName"
		objectClass="org.eclipse.core.resources.IFile"
		class="org.eclipse.jdt.internal.debug.ui.launcher.ExecutionArgsPropertyPage"
        nameFilter="*.java"> 
    </page>
	<page
		id="org.eclipse.jdt.debug.ui.launching.SourceLookupPage" 
		name="%debugSourcePageName"
		objectClass="org.eclipse.core.resources.IProject"
		class="org.eclipse.jdt.internal.debug.ui.launcher.SourceLookupPropertyPage"> 
		<filter name="nature" value="org.eclipse.jdt.core.javanature"/>
    </page>
	<page
		id="org.eclipse.jdt.debug.ui.launching.SourceLookupPage" 
		name="%debugSourcePageName"
		objectClass="org.eclipse.jdt.core.IJavaProject"
		class="org.eclipse.jdt.internal.debug.ui.launcher.SourceLookupPropertyPage"> 
    </page>
	<page
		id="org.eclipse.jdt.debug.ui.launching.ProcessPage" 
		name="%processInfoPageName"
		objectClass="org.eclipse.debug.core.model.IProcess"
		class="org.eclipse.jdt.internal.debug.ui.launcher.ProcessPropertyPage"> 
    </page>
	<page
		id="org.eclipse.jdt.debug.ui.launching.ProcessPage" 
		name="%processInfoPageName"
		objectClass="org.eclipse.debug.core.model.IDebugTarget"
		class="org.eclipse.jdt.internal.debug.ui.launcher.ProcessPropertyPage"> 
    </page>
	<page
		id="org.eclipse.jdt.debug.ui.propertyPages.VMPropertyPage" 
		name="%vmPageName"
		objectClass="org.eclipse.jdt.core.IJavaProject"
		class="org.eclipse.jdt.internal.debug.ui.launcher.VMPropertyPage">
    </page>
	<page
		id="org.eclipse.jdt.debug.ui.propertyPages.VMPropertyPage" 
		name="%vmPageName"
		objectClass="org.eclipse.core.resources.IProject"
		class="org.eclipse.jdt.internal.debug.ui.launcher.VMPropertyPage">
		<filter name="nature" value="org.eclipse.jdt.core.javanature"/>
    </page>
   <page
         objectClass="org.eclipse.jdt.core.IJavaProject"
         name="%LauncherPropertyPage.name"
         class="org.eclipse.debug.internal.ui.LauncherPropertyPage"
         id="org.eclipse.debug.internal.ui.LauncherPropertyPage">
   </page>
</extension>

<extension point = "org.eclipse.ui.preferencePages">
	<page
		id = "org.eclipse.jdt.debug.ui.preferences.VMPreferencePage"
		class="org.eclipse.jdt.internal.debug.ui.launcher.VMPreferencePage"
		name= "%installJREPageName"
		category= "org.eclipse.jdt.ui.preferences.JavaBasePreferencePage">
	</page>
	<page name="%javaDebugPrefName"
         id="org.eclipse.jdt.ui.JavaDebugPreferencePage"   
	     class="org.eclipse.jdt.internal.debug.ui.JavaDebugPreferencePage"
         category="org.eclipse.jdt.ui.preferences.JavaBasePreferencePage">
	</page>	
</extension>

<extension point = "org.eclipse.jdt.launching.vmInstallTypes">
	<vmInstallType
	   	class="org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType"
	    id="org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType"/>
</extension>

<extension point = "org.eclipse.debug.core.launchers">
	<launcher
	    id="org.eclipse.jdt.debug.ui.launcher.JavaApplicationLauncherDelegate"
	   	class="org.eclipse.jdt.internal.debug.ui.launcher.JavaApplicationLauncherDelegate"
	  	labelProvider="org.eclipse.jdt.internal.debug.ui.launcher.LauncherLabelProvider"
		description="%launcher.description"
	  	wizard="org.eclipse.jdt.internal.debug.ui.JavaApplicationWizard"
	  	icon = "icons/full/ctool16/java_app.gif"
	  	modes="run, debug"
 	  	label= "%launcher.label"/>
   <launcher
		id="org.eclipse.jdt.debug.ui.launcher.JDIAttachLauncher"
		class="org.eclipse.jdt.internal.debug.ui.JDIAttachLauncher"
		label="%remoteLauncher.label"
		description="%remoteLauncher.description"
		wizard="org.eclipse.jdt.internal.debug.ui.JDIAttachLauncherWizard"
		icon = "icons/full/ctool16/java_attach.gif"
   		modes="debug" />
   	<launcher
		id="org.eclipse.jdt.debug.ui.launcher.ScrapbookLauncherDelegate"
		class="org.eclipse.jdt.internal.debug.ui.snippeteditor.ScrapbookLauncherDelegate"
		label="%scrapbookLauncher.label"
		public="false"
   		modes="debug" />
</extension>	

<extension point = "org.eclipse.debug.core.launchConfigurationTypes">
   <launchConfigurationType
   	   id="org.eclipse.jdt.debug.ui.localJavaApplication"
	   name="%localJavaApplication"
	   delegate="org.eclipse.jdt.internal.debug.ui.JavaLocalApplicationLaunchConfigurationDelegate"
	   modes= "run, debug">
	   <fileExtension
	   		extension="java"
	   		default="true"/>
	   <fileExtension
	   		extension="class"
	   		default="true"/>
   </launchConfigurationType>
   <launchConfigurationType
   	   id="org.eclipse.jdt.debug.ui.remoteJavaApplication"
	   name="%remoteJavaApplication"
	   delegate="org.eclipse.jdt.internal.debug.ui.JavaRemoteApplicationLaunchConfigurationDelegate"
	   modes= "debug">
	   <fileExtension
	   		extension="java"
	   		default="false"/>
	   <fileExtension
	   		extension="class"
	   		default="false"/>
   </launchConfigurationType>
</extension>

<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
	<launchConfigurationTypeImage
		id="org.eclipse.jdt.debug.ui.launchConfigurationTypeImage.localJavaApplication"
		configTypeID="org.eclipse.jdt.debug.ui.localJavaApplication"
		icon="icons/full/obj16/java_lcl_cnfg_type.gif">
	</launchConfigurationTypeImage>	
	<launchConfigurationTypeImage
		id="org.eclipse.jdt.debug.ui.launchConfigurationTypeImage.remoteJavaApplication"
		configTypeID="org.eclipse.jdt.debug.ui.remoteJavaApplication"
		icon="icons/full/obj16/java_rmt_cnfg_type.gif">
	</launchConfigurationTypeImage>	
</extension>

<extension point = "org.eclipse.debug.ui.launchConfigurationTabs">
	<launchConfigurationTab
		id="org.eclipse.jdt.debug.ui.launchConfigurationTab.JavaMain"
		type ="org.eclipse.jdt.debug.ui.localJavaApplication"
		class="org.eclipse.jdt.internal.debug.ui.launcher.JavaMainTab"
		name="%javaMainTabName">
	</launchConfigurationTab>
	<launchConfigurationTab
		id="org.eclipse.jdt.debug.ui.launchConfigurationTab.JavaArguments"
		type ="org.eclipse.jdt.debug.ui.localJavaApplication"
		class="org.eclipse.jdt.internal.debug.ui.launcher.JavaArgumentsTab"
		name="%javaArgumentsTabName">
	</launchConfigurationTab>
	<launchConfigurationTab
		id="org.eclipse.jdt.debug.ui.launchConfigurationTab.JavaEnvironment"
		type ="org.eclipse.jdt.debug.ui.localJavaApplication"
		class="org.eclipse.jdt.internal.debug.ui.launcher.JavaEnvironmentTab"
		name="%javaEnvironmentTabName">
	</launchConfigurationTab>
	<launchConfigurationTab
		id="org.eclipse.jdt.debug.ui.launchConfigurationTab.JavaConnect"
		type ="org.eclipse.jdt.debug.ui.remoteJavaApplication"
		class="org.eclipse.jdt.internal.debug.ui.launcher.JavaConnectTab"
		name="%javaConnectTabName">
	</launchConfigurationTab>
</extension>
</plugin>
