<?xml version="1.0" encoding="UTF-8"?>
<!-- File written by PDE 1.0 -->
<plugin
   id="org.eclipse.jdt.debug"
   name="%pluginName"
   version="2.0.0"
   provider-name="Object Technology International, Inc."
   class="org.eclipse.jdt.internal.debug.core.JDIDebugPlugin">
<!-- Required plugins -->
<requires>
   <import plugin="org.apache.xerces"/>
   <import plugin="org.eclipse.core.resources"/>
   <import plugin="org.eclipse.debug.core"/>
   <import plugin="org.eclipse.jdt.core"/>
</requires>

<!-- Runtime -->
<runtime>
   <library name="jdi.jar">
      <export name="*"/>
   </library>
   <library name="jdimodel.jar">
      <export name="*"/>
   </library>
</runtime>

<!-- Extensions -->

<extension point="org.eclipse.debug.core.breakpoints">
	<breakpoint
		id="javaLineBreakpoint"
		markerType="org.eclipse.jdt.debug.javaLineBreakpointMarker"
		class="org.eclipse.jdt.internal.debug.core.breakpoints.JavaLineBreakpoint">
	</breakpoint>
	<breakpoint
		id="javaPatternBreakpoint"
		markerType="org.eclipse.jdt.debug.javaPatternBreakpointMarker"
		class="org.eclipse.jdt.internal.debug.core.breakpoints.JavaPatternBreakpoint">
	</breakpoint>
	<breakpoint
		id="javaRunToLineBreakpoint"
		markerType="org.eclipse.jdt.debug.javaRunToLineBreakpointMarker"
		class="org.eclipse.jdt.internal.debug.core.breakpoints.JavaRunToLineBreakpoint">
	</breakpoint>
	<breakpoint
		id="javaExceptionBreakpoint"
		markerType="org.eclipse.jdt.debug.javaExceptionBreakpointMarker"
		class="org.eclipse.jdt.internal.debug.core.breakpoints.JavaExceptionBreakpoint">
	</breakpoint>
	<breakpoint
		id="javaWatchpoint"
		markerType="org.eclipse.jdt.debug.javaWatchpointMarker"
		class="org.eclipse.jdt.internal.debug.core.breakpoints.JavaWatchpoint">
	</breakpoint>
	<breakpoint
		id="javaMethodEntryBreakpoint"
		markerType="org.eclipse.jdt.debug.javaMethodEntryBreakpointMarker"
		class="org.eclipse.jdt.internal.debug.core.breakpoints.JavaMethodEntryBreakpoint">
	</breakpoint>
</extension>

<extension
	id="javaBreakpointMarker"
	point="org.eclipse.core.resources.markers">
	<super
		type="org.eclipse.debug.core.breakpointMarker">
	</super>
</extension>
<extension
	id="commonJavaLineBreakpointMarker"
	point="org.eclipse.core.resources.markers">
	<super
		type="org.eclipse.jdt.debug.javaBreakpointMarker">
	</super>
	<super
		type="org.eclipse.debug.core.lineBreakpointMarker">
	</super>
	<persistent
		value="true">
	</persistent>
   <attribute
         name="installCount">
   </attribute>
   <attribute
         name="hitCount">
   </attribute>
   <attribute
         name="expired">
   </attribute>
</extension>
	
<extension
      id="javaLineBreakpointMarker"
      point="org.eclipse.core.resources.markers">
	<super
		type="org.eclipse.jdt.debug.commonJavaLineBreakpointMarker">
	</super>
   <persistent
         value="true">
   </persistent>
   <attribute
         name="typeHandle">
   </attribute>
</extension>

<extension
	id="javaPatternBreakpointMarker"
	point="org.eclipse.core.resources.markers">
	<super
		type="org.eclipse.jdt.debug.commonJavaLineBreakpointMarker">
	</super>
	<persistent
		value="true">
	</persistent>
	<attribute
		name="pattern">
	</attribute>
</extension>	

<extension
      id="javaRunToLineBreakpointMarker"
      point="org.eclipse.core.resources.markers">
   <super
         type="org.eclipse.jdt.debug.javaLineBreakpointMarker">
   </super>
   <persistent
         value="false">
   </persistent>
</extension>

<extension
      id="javaExceptionBreakpointMarker"
      point="org.eclipse.core.resources.markers">
	<super
		type="org.eclipse.jdt.debug.javaBreakpointMarker">
	</super>
   <persistent
         value="true">
   </persistent>
   <attribute
         name="typeHandle">
   </attribute>
   <attribute
         name="caught">
   </attribute>
   <attribute
         name="uncaught">
   </attribute>
   <attribute
         name="checked">
   </attribute>
</extension>

<extension
	id="javaWatchpointMarker"
	point="org.eclipse.core.resources.markers">
	<super
		type="org.eclipse.jdt.debug.javaLineBreakpointMarker">
	</super>
	<persistent
		value="true">
	</persistent>
	<attribute
		name="fieldHandle">
	</attribute>
	<attribute
		name="access">
	</attribute>
	<attribute
		name="modification">
	</attribute>
	<attribute
		name="auto_disabled">
	</attribute>
</extension>

<extension
      id="javaMethodEntryBreakpointMarker"
      point="org.eclipse.core.resources.markers">
   <super
         type="org.eclipse.jdt.debug.javaLineBreakpointMarker">
   </super>
   <persistent
         value="true">
   </persistent>
   <attribute
         name="methodHandle">
   </attribute>
</extension>

</plugin>
