<?xml version="1.0" encoding="UTF-8"?>
<!-- File written by PDE 1.0 -->
<plugin
   id="org.eclipse.jdt.debug"
   name="JDIDebugPlugin"
   version="0.9"
   provider-name="Object Technology International, Inc."
   class="org.eclipse.jdt.internal.debug.core.JDIDebugPlugin">
<!-- Required plugins -->
<requires>
   <import plugin="org.apache.xerces"/>
   <import plugin="org.eclipse.core.resources"/>
   <import plugin="org.eclipse.debug.core"/>
   <import plugin="org.eclipse.jdt.core"/>
</requires>

<!-- Runtime -->
<runtime>
   <library name="jdi.jar">
      <export name="*"/>
   </library>
   <library name="jdimodel.jar">
      <export name="*"/>
   </library>
</runtime>

<!-- Extensions -->
<!-- Extension points -->
<extension
	id="javaBreakpoint"
	point="org.eclipse.core.resources.markers">
	<super
		type="org.eclipse.debug.core.breakpoint">	
	</super>
   <persistent
         value="true">
   </persistent>
   <attribute
         name="typeHandle">
	</attribute>         
</extension>     	
<extension
      id="javaLineBreakpoint"
      point="org.eclipse.core.resources.markers">
   <super
         type="org.eclipse.jdt.debug.javaBreakpoint">      
   </super>         
   <super
         type="org.eclipse.debug.core.lineBreakpoint">
   </super>
   <persistent
         value="true">
   </persistent>   
   <attribute
         name="installCount">
   </attribute>
   <attribute
         name="hitCount">
   </attribute>
   <attribute
         name="expired">
   </attribute>
</extension>
<extension
      id="javaRunToLineBreakpoint"
      point="org.eclipse.core.resources.markers">
   <super
         type="org.eclipse.jdt.debug.javaLineBreakpoint">
   </super>
   <persistent
         value="false">
   </persistent>
</extension>
<extension
      id="javaExceptionBreakpoint"
      point="org.eclipse.core.resources.markers">
   <super
         type="org.eclipse.jdt.debug.javaBreakpoint">
   </super>
   <persistent
         value="true">
   </persistent>   
   <attribute
         name="caught">
   </attribute>
   <attribute
         name="uncaught">
   </attribute>
   <attribute
         name="checked">
   </attribute>
</extension>
<extension
	id="javaWatchpoint"
	point="org.eclipse.core.resources.markers">
	<super
		type="org.eclipse.jdt.debug.javaLineBreakpoint">
	</super>
   <persistent
         value="true">
   </persistent>	
	<attribute
		name="fieldHandle">
	</attribute>
	<attribute
		name="access">
	</attribute>
	<attribute
		name="modification">
	</attribute>
	<attribute
		name="auto_disabled">
	</attribute>
</extension>
<extension
      id="javaMethodEntryBreakpoint"
      point="org.eclipse.core.resources.markers">
   <super
         type="org.eclipse.jdt.debug.javaLineBreakpoint">
   </super>
   <persistent
         value="true">
   </persistent>
   <attribute
         name="methodHandle">
   </attribute>
</extension>
<extension point = "org.eclipse.debug.core.breakpoint_factories">
<breakpoint_factory
	    id="org.eclipse.jdt.core.JavaBreakpointFactory"
	   	class="org.eclipse.jdt.internal.debug.core.JavaBreakpointFactory"
   		type="org.eclipse.jdt.debug.javaBreakpoint"/>
</extension>	   	
</plugin>
