<?xml version="1.0" encoding="UTF-8"?>
<!-- ======================================================================= -->
<!-- Java Launching Plugin                                                   -->
<!-- ======================================================================= -->
<plugin
	name= "%pluginName"
	id= "org.eclipse.jdt.launching"
	version= "1.9.0"
	provider-name= "Object Technology International, Inc."
	class= "org.eclipse.jdt.internal.launching.LaunchingPlugin">

<requires>
  <import plugin="org.eclipse.core.resources"/>
  <import plugin="org.eclipse.jdt.core"/>
  <import plugin="org.eclipse.debug.core"/>
  <import plugin="org.eclipse.jdt.debug"/>
  <import plugin="org.apache.xerces"/>
</requires>

<runtime>
	<library name="launching.jar" >
		<export name = "*"/>
	</library>
</runtime>


<!-- Search extension point definitions -->

<extension-point name="%vmInstallTypes" id="vmInstallTypes"/>
<extension-point name="%vmConnectors" id="vmConnectors"/>

<!-- Extensions -->

<extension point = "org.eclipse.jdt.launching.vmInstallTypes">
	<vmInstallType
	   	class="org.eclipse.jdt.internal.launching.StandardVMType"
	    id="org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType"/>
</extension>

<extension point = "org.eclipse.debug.core.launchConfigurationTypes">
   <launchConfigurationType
   	   id="org.eclipse.jdt.launching.localJavaApplication"
	   name="%localJavaApplication"
	   delegate="org.eclipse.jdt.internal.launching.JavaLocalApplicationLaunchConfigurationDelegate"
	   modes= "run, debug">
	   <fileExtension
	   		extension="java"
	   		default="true"/>
	   <fileExtension
	   		extension="class"
	   		default="true"/>
   </launchConfigurationType>
   <launchConfigurationType
   	   id="org.eclipse.jdt.launching.remoteJavaApplication"
	   name="%remoteJavaApplication"
	   delegate="org.eclipse.jdt.internal.launching.JavaRemoteApplicationLaunchConfigurationDelegate"
	   modes= "debug">
	   <fileExtension
	   		extension="java"
	   		default="false"/>
	   <fileExtension
	   		extension="class"
	   		default="false"/>
   </launchConfigurationType>
</extension>

<extension point = "org.eclipse.debug.core.sourceLocators">
	<sourceLocator
		id = "org.eclipse.jdt.launching.javaSourceLocator"
	   	class="org.eclipse.jdt.launching.sourcelookup.JavaSourceLocator"
	   	name="Basic Java Source Locator"/>
</extension>

<extension point = "org.eclipse.jdt.launching.vmConnectors">
	<vmConnector
		id="org.eclipse.jdt.launching.socketAttachConnector"
		class="org.eclipse.jdt.internal.launching.SocketAttachConnector"/>
</extension>

<extension point = "org.eclipse.jdt.core.classpathVariableInitializer">
	<classpathVariableInitializer
		variable="JRE_LIB"
		class="org.eclipse.jdt.internal.launching.JavaClasspathVariablesInitializer"/>
	<classpathVariableInitializer
		variable="JRE_SRC"
		class="org.eclipse.jdt.internal.launching.JavaClasspathVariablesInitializer"/>
	<classpathVariableInitializer
		variable="JRE_SRCROOT"
		class="org.eclipse.jdt.internal.launching.JavaClasspathVariablesInitializer"/>
</extension>		

<extension point = "org.eclipse.jdt.core.classpathContainerInitializer">
	<classpathContainerInitializer
		id="org.eclipse.jdt.launching.JRE_CONTAINER"
		class="org.eclipse.jdt.internal.launching.JREContainerInitializer"/>
</extension>

</plugin>