<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.jdt.launching.vmInstallTypes">
      <vmInstallType
            class="org.eclipse.jdt.internal.launching.macosx.MacOSXVMInstallType"
            id="org.eclipse.jdt.internal.launching.macosx.MacOSXType">
      </vmInstallType>
   </extension>

</plugin>
