<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.jdt.launching.vmInstallTypes">
      <vmInstallType
            class="org.eclipse.jdt.internal.launching.macosx.MacOSXVMInstallType"
            id="org.eclipse.jdt.internal.launching.macosx.MacOSXType">
      </vmInstallType>
   </extension>

   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
			name="%MacOSXAppBundleExporter.label"
			icon="icons/full/ctool16/exportappbundle_wiz.gif"
			class="org.eclipse.jdt.internal.ui.macbundler.MacBundleWizard"
			id="org.eclipse.jdt.internal.ui.macbundler.MacBundleWizard">
         <description>
			%MacOSXAppBundleExporter.description
         </description>
         <selection
			class="org.eclipse.jdt.core.IJavaElement">
         </selection>
      </wizard>
   </extension>

</plugin>
