<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.jdt.launching.macosx"
   name="%pluginName"
   version="3.0.0"
   provider-name="%providerName"
   class="org.eclipse.jdt.internal.launching.macosx.MacOSXLaunchingPlugin">

   <runtime>
      <library name="macosxlaunching.jar"/>
   </runtime>
   <requires>
      <import plugin="org.eclipse.jdt.debug"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jdt.launching"/>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
   </requires>


   <extension
         point="org.eclipse.jdt.launching.vmInstallTypes">
      <vmInstallType
            class="org.eclipse.jdt.internal.launching.macosx.MacOSXVMInstallType"
            id="org.eclipse.jdt.internal.launching.macosx.MacOSXType">
      </vmInstallType>
   </extension>

</plugin>
